.abt-intro {
    color: $pri-color;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.abt-thin-header {
    color: $dark-color;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}

.abt-header, .abt-sub-header {
    color: $lightplus-color;
}

.abt-name {
    color: $pri-color;
}