@media (max-width: 800px) {
    .hide-sm {
        display: none;
    }

    // Todo card
    .card-label {
        display: flex;
        justify-content: space-between;

        .card-label-names {
            display: flex;
            p {
                padding-left: 1rem;
            }
        }

        border-top: 1px solid $dark-color;
        padding: 0.4rem 0rem;
    }

    // Todo forms
    .todoform-text {
        border-left: none;
        border-right: none;
    }
    .todoform-line-2 {
        display: block;
    }
    .todoform-line-3 {
        //width: 100%;
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-gap: 0.4rem;
        align-items: center;
        padding: 0.4rem 0rem;
        border-bottom: 1px solid $pri-color;

        &-2 {
            display: flex;
            justify-content: space-evenly;
        }
    }
    .react-datetime-picker__calendar {
        width: 350px;
        max-width: 75vw;
        height: 210px;
    }

    // Font

    .comp-header {
        font-size: 1.2rem;
    }

    .comp-sub-header {
        font-size: 1rem;
    }

    // Landing
    .land-less-header {
        font-size: 2.5rem;
    }
    .land-less-sub-header {
        font-size: 1.1rem;
    }

    // Register and Login page

    .login-signup-area {
        width: 100%;
        box-sizing: border-box;
        padding-top: 10px;
    }
    .ask {
        display: block;
    }

    // User page

    .user-line-1 {
        display: block;
    }
    .user-name {
        font-size: 1.2rem;
    }
    .user-info {
        font-size: 0.8rem;
    }

    // About page
    .abt-intro {
        font-size: 1.5rem;
    }

    // Custom search page

    .less {
        font-size: 0.8rem;
        font-weight: bolder;
    }
    
    // Alerts

    .alert {
        &-fixed {
            font-family: 'Cabin', sans-serif;
            font-size: 0.8rem;
            padding: 0.5rem 0.8rem;
            margin: 0 auto;
            border-radius: 0.5rem;
            top: 90%;
            width: 80%;
            position: fixed;
            left: 50%;
            margin-left: -40%;
            text-align: center;
            z-index: 2;
        }
    }



}